<%= link_to 'New Article', controller: "new_article" %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= article.title %><br />
      <%= article.content %><br />
    </li>
  <% end %>
</ul>

